.poster {
  max-width: 100%;
  background-color: #7b63ff;
  height: 50.375rem;
  border-radius: 3.789rem;
  -webkit-border-radius: 3.789rem;
  -moz-border-radius: 3.789rem;
  -ms-border-radius: 3.789rem;
  -o-border-radius: 3.789rem;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
}

.poster__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.poster__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.poster__text {
  color: #fff;
  font-size: 2.5rem;
  font-family: "maneli-regular";
}
.poster__content-h1 {
  font-family: "yekan-bold";
  font-size: 4.1rem;
  color: #fff;
}

.poster1 {
  position: absolute;
  right: 11rem;
  bottom: 3rem;
  z-index: -1;
}
.poster2 {
  position: absolute;
  right: 37rem;
  top: -5px;
  z-index: -1;
}

.poster__buy {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.btn__buy {
  color: #fff;
  font-size: 3.738rem;
}

.poster__btn__buy-icon {
  width: 4.56rem;
  height: 4.56rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
